<h1>Welcome To Home Page</h1>

<form action="/results" method="GET">
    
    <input type="text" name="keyword" placeholder="Type To Search">
    <button>Search</button>
    
</form>

<style>
    body{
        background: lightgrey;
        text-align: center;
        margin: 100px auto;
    }
    
    button{
        background: steelblue;
        color: white;
    }
    
    input{
        background: lightcyan;
    }
</style>